.col-md-12 .setbg-color{
	background-color: #FFF; 
}
.col-md-12 .setbg-color .col-md-1{
	padding: 0px 0px 5px 0px;
}
.col-md-12 .setbg-color .col-md-6 , .col-md-5{
	padding-left: 0px;padding-right: 0px;
}
#edit_form .form-body .modal-header{
	padding-left: 0px; 
}
#edit_form .form-body .modal-header .col-md-9{  
	padding-left: 0px; 
}
