.intran-form .padd,
.adjust-form .padd {
	margin:0 0 100px 0;
	clear : both;
}
.intran-form .intran-action button,
.adjust-form .intran-action button {
	padding : 7px 50px;
}
.adjust-form .form-group .help-block {
	margin-left:150px;
}
.add-form .form-group .help-block {
	margin-left:27%;
	margin-top : 5px;
}
.form-group .acctna {
	font-size : 14px;
	margin-top:50px;
	font-weight : 600;
}
.adjust-form .form-group .acctna {
	margin-left : 70px;
}
.form-group .acctna .name {
	font-size : 18px;
	font-weight : 600;
	color : blue;
}
.down-button-group {
	border-top : none;
	margin-top : 100px;
	text-align : left;
}
.down-button-group #save {
	padding : 7px 50px;
}
.strike-form .form-group .help-block {
	margin-left:27%;
	margin-top : 50px;
}
.form-actions {
	text-align : right;
}
.clean {
	clear : both;
	border-bottom : 1px solid #4db3a2;
}
.clean_t {
	clear : both;
}
.cif-clear {
	clear : both;
}
.cust-form .cust-action {
	margin : 10px 10px 20px 0;
}
.cust-form .cust-action #submit {
	padding : 7px 50px;
}
.dataTable > thead > tr > th.sorting, .dataTable > thead > tr > th.sorting_asc, .dataTable > thead > tr > th.sorting_desc {
	padding-right : 0px;
}
table.dataTable thead .sorting_asc {
	background : none;
}
#tran_btn {
	margin-right : 20px;
}
#cust-form .cif-pp {
	border-bottom : 1px solid #4db3a2;
	margin-bottom : 20px;
}
#myModal .modal-body {
	text-align : center;
}
#cust-tarn-form .form-actions #tran_qry {
	padding : 7px 50px;
}

#cust-form .form-group .help-block {
	padding-left: 150px;
	padding-top: 35px;
}
#mod-form .form-group .help-block {
	padding-left: 170px;
	padding-top: 35px;
}
#cust-tran-form .form-group .help-block {
	padding-left: 150px;
	padding-top: 35px;
}
.aligh-right{
	text-align : right;
}
.aligh-right button {
	padding : 7px 70px;
}
.comfirm{
	font-size : 14px;
}
.comfirm span {
	font-size : 16px;
	font-weight : 600;
	color : rgb(77, 179, 147);
}
