<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
  <display-name>Archetype Created Web Application</display-name>
  <!-- 读取spring配置文件,javamelody监控配置文件加载 -->
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		<!--classpath:net/bull/javamelody/monitoring-spring.xml
		classpath:context/services.xml
		classpath:context/data-access-layer.xml-->
		classpath:applicationContext.xml
	</param-value>
  </context-param>
  <!-- Spring字符集过滤器,只对POST提交有效 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- Creates the Spring Container shared by all Servlets and Filters --> 
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- springMVC核心配置 -->
  <servlet>
	<servlet-name>springServlet</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>/WEB-INF/springServlet-servlet.xml</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>springServlet</servlet-name>
	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
   	<!-- javamelody监控配置 -->
	<!--filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    	<init-param>
          	<param-name>log</param-name>
          	<param-value>true</param-value>
    	</init-param>
		<init-param>
			<param-name>disabled</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
    	<filter-name>monitoring</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
    	<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener-->
  
  <welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
</web-app>
